<div class="comment_container">

<h1><a href="<%= @post.url %>"><%= @post.title %></a></h1>
<!--<span class="title"><%= @comments.count %> Comments</span>-->

<% @comments.each do |comment| %>
  <div class ="votes">
    <form action="/comment/vote" method="post">
      <div class="submit_btn">
      <input type="hidden" name="vote" value="1">
      <input type="hidden" name="post_id" value="<%=@post.id%>">
      <input type="hidden" value="<%= comment.id%>" name="comment_id">
      <span class="title"><%= comment.comment_votes.sum('vote')%></span>
      
      <input class="post_btn" type="submit" value="Up">
    </div></form>
<form action="/comment/vote" method="post" name="down" value="-1">
  <div class="submit_btn">
    <input type="hidden" name="vote" value="-1">
    <input type="hidden" name="post_id" value="<%=@post.id%>">
    <input type="hidden" value="<%= comment.id%>" name="comment_id">
    <input class="post_btn" type="submit" value="Down">
  </div></form></div>
  <div class="author"><%= comment.author.username %></div>

  <div class="unthreaded-comments"> <%= comment.content %></div>
<%end %>



</div>
